#matiasjoseagelvisdominguez {
    text-align: left;
}

/* Style buttons */
.btn {
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 160px;
    background-color: DodgerBlue;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.4s, background-color 0.3s;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #bbbbbb;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
    background: #A5D6A7;
    color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
    background: #2196F3;
}

.upbtn {
    padding: 0;
    margin: 0;
}

#UpButton {
    display: inline-block;
    text-decoration: none;
    background-color: #FF9800;
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    bottom: -50px;
    right: 0;
    z-index: 1000;
    font-size: 1.8em;
    color: #fff;
    transition: all 0.4s, background-color 0.3s;
}

#UpButton:hover {
    cursor: pointer;
    background-color: #999;
}

#UpButton:active {
    background-color: #555;
}


dt {
    text-align: left;
}

dd {
    text-align: left;
    padding-inline-start: 1.2em;
    margin-inline-start: 1.2em;
}

ul {
    padding-inline-start: 1.2em;
}

ul li {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#pageHeader {
    /*background : #FF9800;*/
}



/* .certificates styling */

.certificates {
  box-sizing: border-box;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-weight: 300;*/
}

.certificates a {
  text-decoration: none;
  color: inherit;
}

.certificates p {
  font-size: 1.1em;
  margin: 1em 0;
}
.certificates .description {
  margin: 1em auto 2.25em;
}

.certificates body {
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  margin: 1.5em auto;
  color: #333;
}

.certificates h1 {
  /*font-family: 'Pacifico', cursive;*/
  font-weight: 400;
  font-size: 2.5em;
}

.certificates ul {
  list-style: none;
  padding: 0;
}

.certificates ul .inner {
  padding-left: 1em;
  list-style: none;
  overflow: hidden;
  display: none;
}

.certificates ul .inner.show {
  list-style: none;
  /*display: block;*/
}

.certificates ul li {
  text-align: left;
  margin: 0.5em 0.5em;
}

.certificates ul li a.toggle {
  width: 75%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: 0.75em;
  margin: 0.5em 0 0 0;
  border-radius: 0.15em;
  transition: background 0.3s ease;
  text-decoration: none;
}

.certificates ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.certificates ul li a.toggle.course {
    background: white;
    color: black;
    border: 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.15em;
}

.course-data{
    border-width: 2px;
    border-style: solid;
    width: 75%;
    list-style: none;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}

a.course-ID{
    text-decoration: none;
    font-weight: bold;
    color: #3f89d4;
}

b, strong {
    font-weight: bold;
}

.specialization
{
    margin: 0.5em 0 0 0;
}